p {
    font-family: Tahoma, Verdana, Georgia, Times, serif
}

.leaders td, tr, th, table {
    border: 2px solid;
}
ul {
    display: flex;
    justify-content: end;
}
ul li {
    list-style: none;
}
li {
    margin: 10px;
}